<h2>Auta w Tabeli:</h2>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Rok</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.brand|e }}</td>
                <td>{{ car.model|e }}</td>
                <td>{{ car.year }}</td>
                <td>
                    <form method="POST" style="display:inline;" action="{{ path('cars_delete', {'id': car.id}) }}">
                        <button type="submit" onclick="return confirm('UWAGA: Nieodwracalnie usuniesz samochód z bazy')">Usuń</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Brak rekordów</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
